.historyControllers {
  position: absolute;
  left: 12px;
  top: 12px;
  background-color: var(--onPrimary);
  box-shadow: 0px 0px 6px 0px var(--secondaryShadow);
  padding: 6px;
  border-radius: 3px;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  z-index: 4;
  overflow: visible;
}

.historyController {
  width: 44px;
  height: 44px;
  border-radius: 3px;
  padding: 2px;
  transition: all 0.25s ease-out;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.historyController:hover {
  box-shadow: 0px 0px 6px 0px var(--secondaryShadow);
}

.historyControllerIcon {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: var(--secondary);
  mask-image: url("arrow.svg");
  -webkit-mask-image: url("arrow.svg");
}
