.board {
  width: 100vw;
  height: 100vh;
}

.selectionRectangle {
  position: absolute;
  border: 1px solid #478eff;
  background-color: rgb(71, 142, 255, 0.5);
  z-index: 2;
}

.selectedTool {
  position: absolute;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  mask-size: cover;
  width: 32px;
  height: 32px;
  z-index: 3;
}

.extraInfo {
  position: absolute;
  display: flex;
  flex-direction: column;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
