.boardObjectContainer {
  overflow: visible;
}

.boardObject {
  position: absolute;
  cursor: pointer;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
  overflow: visible;
}
.controlsWrapper {
  position: absolute;
  z-index: 1;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.boardObjectBorder {
  position: absolute;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
  z-index: 1;
  pointer-events: none;
}
