.optionContainer {
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: visible;
  background-color: var(--primary);
  border-radius: 8px;
}

.optionIcon {
  width: 28px;
  height: 28px;
  cursor: pointer;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.dropdown {
  position: absolute;
  border: 1px solid var(--secondary);
  color: var(--secondary);
  background-color: var(--primary);
  top: 40px;
  left: 0px;
  z-index: 3;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.dropdownOptions {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--secondary);
}

.dropdownOption {
  width: calc(100% - 16px);
  display: flex;
  justify-content: space-between;
  gap: 4px;
  align-items: center;
  cursor: pointer;
  background-color: var(--primary);
  white-space: nowrap;
  padding: 8px;
}

.dropdownOption img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.dropdownOption:hover {
  background-color: var(--onPrimary);
}

.dropdownInputContainer {
  padding: 0 8px 4px 8px;
  font-size: 12px;
}

.dropdownInput {
  font: 16px;
  border: 1px solid var(--secondary);
  border-radius: 4px;
  padding: 0 4px;
}

.colorPickerContainer {
  position: absolute;
  color: var(--secondary);
  background-color: var(--primary);
  top: 40px;
  left: 0px;
  z-index: 3;
  border-radius: 8px;
  border: 1px solid var(--secondary);
  display: flex;
  flex-direction: column;
}

.optionDescription {
  padding: 0 6px;
  width: calc(100% - 12px);
  border-bottom: 1px solid var(--secondary);
  margin: 4px 0;
}

.otherOptionsIcon {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: var(--secondary);
  width: 24px;
  height: 24px;
}
