.textObject {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.textObjectInput {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
